<div class="container">
  <div class="card mt-6 skills">
    <h1 class="title">TECHNOLOGIES</h1>
    <div class="columns p-5">
      <div class="column">
        <img class="icon" src="assets/angular.png" />
        <p class="cation">Angular</p>
      </div>
      <div class="column">
        <img class="icon" src="assets/spring.png" />
        <p class="cation">Spring</p>
      </div>
      <div class="column">
        <img class="icon" src="assets/node.png" />
        <p class="cation">Node JS</p>
      </div>
      <div class="column">
        <img class="icon" src="assets/flutter.webp" />
        <p class="cation">Flutter</p>
      </div>

      <div class="column">
        <img class="icon" src="assets/pi.jpg" />
        <p class="cation">Raspberry Pi</p>
      </div>
      <div class="column">
        <img class="icon" src="assets/docker.png" />
        <p class="cation">Docker</p>
      </div>
    </div>
  </div>
</div>
