.title {
  font-family: Dosis, 'Open Sans', 'Sans Serif' !important;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  position: relative;
  line-height: 1.7;
  margin-top: 3%;
  padding-top: 3%;
}

h1 {
  margin-left: 0px;
  margin-top: 15px;
  margin-bottom: 30px;
  text-align: center;
}
.columns {
  padding: 2% 10%;
}
.column {
  text-align: center;
}
.icon {
  width: 85%;
  height: auto;
}
.cation {
  text-align: center;
  margin-top: 10%;
  color: #aaa;
}
