<div class="container">
  <div class="card padding-about">
    <div class="columns">
      <div class="column">
        <div class="about-img-content shadow-bg " data-depth="0.1"></div>
        <div class="about-name mt-3">Blisston Kirubha</div>
        <div class="about-title">Full Stack Developer</div>
        <div class="buttons-container">
          <div class="button github">
            <i class="fab fa-github fa-2x"></i>
          </div>
          <div class="button linkedin">
            <i class="fab fa-linkedin fa-2x"></i>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="about-desc">
          <div class="about-section-title">
            About Me
          </div>
          <div class="about-data">
            <p>
              My name is Anass or just call me AXeL. I started coding when i was
              17, since then, i have acquired a good taste in areas like
              front-end &amp; back-end development, database management, devOps,
              ethical hacking &amp; network security.<br />
              I like challenges, discovering new stuff and contributing to open
              source on my free time.
            </p>
            <div><span>Age</span>25</div>
            <div><span>Location</span>Rabat, Morocco</div>
            <div>
              <span>Email</span
              ><a
                class="tooltipped"
                data-delay="50"
                data-position="bottom"
                data-tooltip="I might be slow to respond"
                href="mailto:contact.axel.dev@gmail.com"
                >contact.axel.dev@gmail.com</a
              >
            </div>
            <div>
              <span>Website</span
              ><a href="https://axel-dev.github.io/"
                >https://axel-dev.github.io/</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
