<div class="container">
  <div class="card mt-6 skills">
      <h1 class="title">Skills</h1>
    <div class="columns">
      <div class="column">
        <h1>Web Development</h1>
        <ul class="skills-bar-container">
          <label>HTML5 / CSS3</label>
          <span class="percent"></span>
          <li>
            <span class="progressbar progressblue" id="progress-htmlcss"></span>
          </li>

          <label>JavaScript / Angular</label>
          <span class="percent"></span>
          <li>
            <span class="progressbar progressblue" id="progress-jsjq"></span>
          </li>

          <label>Responsive Web Design</label>
          <span class="percent"></span>
          <li>
            <span class="progressbar progressblue" id="progress-php"></span>
          </li>
        </ul>
      </div>
      <div class="column">
        <h1>Programming</h1>
        <ul class="skills-bar-container">
          <label>Java</label>
          <span class="percent"></span>
          <li>
            <span class="progressbar progressblue" id="progress-java"></span>
          </li>

          <label>SQL / MySQL</label>
          <span class="percent" id="angular-pourcent"></span>
          <li>
            <span class="progressbar progressblue" id="progress-csharp"></span>
          </li>

          <label>Python</label>
          <span class="percent" id="angular-pourcent"></span>
          <li>
            <span class="progressbar progressblue" id="progress-sql"></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
